@media only screen and (max-width: 1024px) {
  .contact-text-value {
    display: flex;
    flex-direction: column;
  }
  .contact-pay-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0 20px;
  }
}
