@media only screen and (max-width: 1024px) {
  .home {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .home .container {
    flex-direction: column-reverse;
    row-gap: 20px;
  }

  .home .container .banner {
    max-width: 320px;
    width: 100%;
    height: auto;
  }

  .home .container .banner img {
    width: 100%;
  }
}
