@media only screen and (max-width: 340px) {
  .service-box {
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .service-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .service-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
  .service-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 20px;
    gap: 20px;
  }
}
